
.icon-music:before { content: '\e800'; } /* '' */
.icon-monitor:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
